{% extends "common/base.html" %}
{% load staticfiles %}

{% block css%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static "common/css/base.css" %}" charset="utf-8">
<link rel="stylesheet" href="{% static "map/css/main.css" %}" charset="utf-8">
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
{% include "common/navbar.html" %}

{% endblock %}
