html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 90%;
    /*position: absolute;;*/
}
#slider {
    height: 70ex;
    /*position: absolute;*/
    margin-right: 3ex;
    /*margin-top: 10ex;*/
}

#mapButtonControls {
    width: 5.5em; 
}

#mapButtonControls button {
    width: 5em;
    height: 5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}